.flex{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-content: center;
    width: 150px;
   /* flex-flow:nowrap; */
}
.tamaño{
    width: 15px;
}
/* .div1{
    display: flex;
}
.div2{
    display: flex;
} */

/* .tabla{
    width: 100px;
} */
/* .achicar{
    width:50px;
} */