.flex{
    display: flex;
    /* /* flex-direction: row; */
    /* justify-content: space-around; */
    align-content: center; 
    /* width: 150px; */
   /* flex-flow:nowrap; */
}
.tamaño{
    height: 30px;
    width: 60px;
}
.block{
    display: block;
}
/* .div1{
    display: flex;
}
.div2{
    display: flex;
} */

/* .tabla{
    width: 100px;
} */
/* .achicar{
    width:50px;
} */