* {
    margin: 0;
}
.container{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    background-color:rgb(250, 170, 51);
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
    padding: 8px 12px;
}
.nav-link:hover{
    background-color: rgb(194, 113, 14);
    border-radius: 3px;
    transition: 0.5s;
}
.logo{
    font-size: 40px;
    color: white;
    padding: 0 40px;
    line-height: 80px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.cuerpo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 170%;
    position: absolute;
    margin: 14% 13%;
    color: whitesmoke;
}
.parrafo{
    margin: 19% 13%;
    width: 30%;
    position: absolute;
    font-size: 170%;
    color: honeydew;
}
.boton{
    color: whitesmoke;
    border: 2px solid whitesmoke;
    position: absolute;
    font-size: 30px;
    font-family:'Libre Franklin', sans-serif;
    border-radius: 10px;
    text-decoration: none;
    width: max-content;
    padding: 2%;
    margin-top: 4%;
    cursor: pointer;
}
.boton:hover{
    background-color:rgb(250, 170, 51);
    border-radius: 10px;
    transition: 0.5s;
}
.pie{
    background-color:rgb(250, 170, 51);
    width: 100%;
    height: 110px;
    display: flex;
}
.redes{
    margin-left: 20%;
    padding: 18px;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
}
.copyrigth{
    margin: 45px 70px;
    display: flex;
    justify-content:center;

}
.iconos{
    padding-top: 5px;
    margin-left: 20px;
}