*{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
}
.header{
    background-color:rgb(250, 170, 51);
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.logo{
    font-size: 40px;
    color: white;
    padding: 0 40px;
    line-height: 80px;
}
