* {
    margin: 0;
}
.container{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.header{
    background-color:rgb(250, 170, 51);
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
    padding: 8px 12px;
}
.nav-link:hover{
    background-color: rgb(194, 113, 14);
    border-radius: 3px;
    transition: 0.5s;
}
.logo{
    font-size: 40px;
    color: white;
    padding: 0 40px;
    line-height: 80px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
}
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    margin: 250px;
    color: whitesmoke;
}
.parrafo{
    margin-top: 350px;
    margin-left: 250px;
    width: 500px;
    position: absolute;
    font-size: 30px;
    color: honeydew;
}
.boton{
    background: rgba(248, 248, 248, 0.959);
    margin-top: 650px;
    margin-left: 250px;
    position: absolute;
    font-size: 30px;
    width: max-content;
    height: max-content;
    font-family:'Libre Franklin', sans-serif;
    border-radius: 10px;
}
.footer{
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: flex-end;
}
.face{
    width: 20px;
    height: 20px;
}
.imagenCentral{
    width: 100%;
    height: 400px;
}